body {
    padding-bottom: 20px;
}
@font-face {
    font-family: 'natureregular';
    src: url('../fonts/Nature.eot');
    src: url('../fonts/Nature.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nature.woff2') format('woff2'),
    url('../fonts/Nature.woff') format('woff'),
    url('../fonts/Nature.ttf') format('truetype'),
    url('../fonts/Nature.svg#natureregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@media screen {
    .jumbotron-site {
        height: 200px;
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size:  cover;
    }
}
.jumbotron-container {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 30%;
}
.site-title{
    padding: 0;
    margin-top: 20px;
    color: #687212;
    font-size: 1.5em;
    font-family: 'natureregular';
    font-weight: bold;
    text-align: center;
    
}

.site-title>a, .site-title>a:hover {
     color: #687212;
     text-decoration: none;
}

#itinerary-canvas {
    width: 100%;
    height: 200px;
    margin-bottom: 1em;
}
#day-itinerary-canvas {
    width: 70%;
    height: 400px;
    margin: auto;
}
.project-paragraphe {
    padding:10px;
    text-align: justify;
}
.day h3, h2{
    margin-left: 10px;
}
.day-etape {
    text-align: justify;
    padding: 10px;
}
.day-reflexion {
    text-align: justify;
    padding: 10px;
}
.day-picture-main {
    width: 70%;
}

.day-picture {
    width: 70%;
}

.thumbnail {
    float: left;
    margin-right: 10px;
}
